            <div class="notepad-author-info">
                <div class="row">
                    <section class="notepad-post-author small-12 columns">
                            <img src="{{site.url}}/images/{{ site.owner.avatar }}" class="notepad-post-author-avatar" alt="{{ site.owner.name }}'s photo">
                            <span class="author-label">Author</span>
                            <h1>{{ site.owner.name }}</h1>
                            <p>{{ site.owner.description }}</p>
                            <p style="padding-left:250px;">Need consulting? Check my <a href="/services">Services</a> page to see how I can help your business.</p>
                    </section>
                </div>
            </div>
